* {
  margin:0;
  padding:0;
}

.uppercase-text {
  text-transform: uppercase;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
}
.header__menu {
  display: flex;
  gap: 8.85px;
  margin-top: 130px;
  margin-bottom: 136px;
  font-size: 18px;
  list-style: circle;
  list-style-position: inside;
  white-space: nowrap;
}

.header__li__no-circle {
  text-decoration: none;
  list-style: none;
}

.header__link {
  margin-right: 1px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-top: 89px;
  margin-bottom: 89px;
  margin-left: 1.2px;
}

.address__list {
  list-style: none;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start; /* чтобы ссылки растягивались ТОЛЬКО на ширину текста */
  max-width: 240px;
  margin: 95px 0 100px 0;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  text-underline-offset: 4px;
}


.cover {
  position: relative;
  height: 757px;
  margin: 0;
  padding: 0 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  position: relative; /* без этого не сработает z-index */
  z-index: 2;
  padding: 165px 0 106px;
  color: #fff;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.word-one {
  display: block;
  margin-left: 0px;
}

.word-two {
  display: block;
  width: 339px;
  margin-left: 330px;
  padding-top: 17px;
}

.word-three {
  display: block;
  width: 387px;
  margin-left: 613px;
  padding-top: 17px;
}

.description {
  position: relative; /* без этого не сработает z-index */
  z-index: 1;
  display: flex;
  justify-content: space-between; /* один эл-т прижат к левому краю, второй к правому */
  align-items: center;
  padding-bottom: 50px;
  color:#fff;
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 12px;
  color:#fff;
  background: transparent;
}

.lots {
  margin: 180px 0px 120px;
  padding: 0 24px;
}

h2 {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap; /* 4-ая карточка будет переноситься */
  gap: 25px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.card__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.more-lots {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color:#000;
  font-size: 20px;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  max-width: 1052px;
  margin: 0 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 34px 0 120px 47px;
  border-radius: 50%;
  background-color: #000;
}
.about__logo-img {
  width: 148px;
  height: auto;
}

.about__title {
  margin: 136px 0 100px;
  margin-left: 25px;
  font-weight:700;
  font-size: 40px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 25px;
  font-size: 20px;
}
.paragraph__one {
  max-width: 688px;
  line-height: 24px;
}
.paragraph__two {
  max-width: 693px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 0 82px;
  padding: 0 50px;

}

.footer__address {
  justify-self: start;
  max-width: 264.5px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
width: 48px;
height: 48px;
}