* {
  margin:0;
  padding:0;
}

.uppercase-text {
  text-transform: uppercase;
}
.header {
  margin: 0;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.header__menu {
  display: flex;
  gap: 12px;
  list-style: circle;
  list-style-position: inside;
  margin-top: 133px;
  margin-bottom: 138px;
  font-size: 18px;
  white-space: nowrap;
}

.header__link__no-circle {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-top: 92px;
  margin-bottom: 96px;
  margin-left:36px;
}

.address__list {
  list-style: none;
}
.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* чтобы ссылки растягивались ТОЛЬКО на ширину текста */
  margin: 95px 0 100px 0;
  font-style: normal;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  text-underline-offset: 4px;
}


.cover {
  position: relative;
  margin: 0;
  padding: 0 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat;*/
  min-height: 100vh;
}

.overlay {
  position: absolute;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title {
  position: relative; /* без этого не сработает z-index */
  z-index: 2;
  color: #fff;
  font-size: 100px;
  padding: 165px 0 207px;
  letter-spacing: 0.3em;
}
.word-one {
  display: block;
  margin-left: 0px;
}
.word-two {
  display: block;
  margin-left: 330px;
  width: 339px;
}
.word-three {
  display: block;
  width: 387px;
  margin-left: 613px;
}

.description {
  display: flex;
  justify-content: space-between; /* один эл-т прижат к левому краю, второй к правому */
  position: relative; /* без этого не сработает z-index */
  z-index: 1;
  word-spacing: 10px;
  color:#fff;
  font-size: 22px;
  align-items: center;
  padding-bottom: 50px;
}

.bet-button{
  border: none;
  background: transparent;
  color:#fff;
  border: 1px solid #fff;
  padding: 12px 32px 12px;
}
.lots {
  margin: 180px 0px 120px;
  padding: 0 24px;
}

h2 {
  margin-bottom: 27px; 
  font-size: 40px;
  margin-left: 40px;
}
.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap; /* 4-ая карточка будет переноситься */
}

.card-link {
  display: block;
  height: 100%;
}

.card{
  position: relative;
  padding: 48px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 334px;
  height: 596px;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_type_film, 
.card_type_book, 
.card_type_picture {
  background-size: cover;
  background-position: center;
  }
.card__title { /* заголовок карточки */
  margin: 0;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  font-weight: bold;
  font-size: 22px;
}

.card__text { /* текст карточки */
  margin: 0;
  font-size: 20px;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.more-lots {
  display: block;
  color:#000;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
}

.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  max-width: 1052px;
}
.about__column {}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  margin: 35px 0 120px 47px;
}
.about__logo-img {
  width: 141.5px;
  height: auto;
}

.about__title {
  font-size: 40px;
  margin: 136px 0 100px;
  font-weight:700;
  margin-left: 25px;
}
.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 25px;
}
.paragraph__one {
  max-width: 688px;
}
.paragraph__two {
  max-width: 693px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  margin: 0 0 82px;

}

.footer__address {
  justify-self: start;
  max-width: 264.5px;
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

.address__list {

}
.footer__menu {
  justify-self: center;
}
.footer__menu-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  list-style: none;
  justify-self: end;
  display: flex;
  gap: 48px;
}
.footer__social-list-item {}

.footer__social-icon {
width: 48px;
height: 48px;
}